%h1 Editando local
= render 'form'
.row
	.twelve.columns
		= link_to 'Detalhes do local', @local, :class => [:button, :secondary]
		= link_to 'Voltar para lista', locais_path, :class => [:button, :secondary]
