.row
	.twelve.columns
		%h1 O Projeto

		%p.lead
			O Ônibus Hacker é um laboratório sobre quatro rodas no qual hackers de toda sorte embarcam por um desejo comum: 
			%strong ocupar cidades brasileiras com ações políticas

		%p 
			Por política, entendemos toda apropriação tecnológica, toda gambiarra, todo questionamento e exercício de direitos.
			Por ação, entedemos a prática, o faça você mesmo uma antena de rádio, um projeto de lei, uma escola.
			
		%p
			Nessa lógica, o download de um torrent é uma ação política tão potente quanto a construção de aplicativos a partir de dados abertos. E encontros com estes, num busão, contam com o aditivo do caminho entre uma cidade e outra, quando ideias diversas se conectam e um orçamento público pode se tornar um lambe lambe ou um graffiti nos muros.

		.flex-video
			%iframe{:src => "http://player.vimeo.com/video/26115851?title=0&amp;byline=0&amp;portrait=0",  :width => "500", :height => "280", :frameborder => "0", :webkitAllowFullScreen => true, :mozallowfullscreen => true, :allowFullScreen => true}

.row		
	.twelve.columns
		%p
			O projeto começou em 
			%strong junho de 2011
			, quando a Transparência Hacker o lançou no 
			%a{:href => "http://catarse.me/en/projects/167-onibus-hacker", :target => "_blank"} Catarse, uma plataforma de financiamento coletivo. Em dois meses, 500 pessoas doaram 60 mil reais para a compra do ônibus, que começou a rodar pra valer em 2012.

		%p 
			Desde então, 
			%strong Entre janeiro e outubro de 2012 16 invasões
			hackers foram realizadas por mais de 
			%strong>XXX pessoas
			de redes e áreas diversas para um público que chega a 
			%strong XX mil pessoas
.row
	.twelve.columns.center
		%p.lead
			Você também pode ajudar o Ônibus Hacker.
			%a.button.large{:href => "#", :target => "_blank"} Adote um quilômetro!

.row
	.twelve.columns
		%h1 Invasões Hackers
		%p.lead 
			Veja aonde o ônibus passou e o que está por vir
		#map 
		%span 
			legenda dos ícones: planejada, programada, executada, cancelada

.row
	.four.columns
		%h2
			Executadas
		%ul
			%li
				Festival CulturaDigital.Br (Rio de Janeiro)
			%li
				Churrascão de Gente Diferenciada na Cracolândia
			%li
				Fórum Social Temático (Porto Alegre)
			%li
				Restinga (Porto Alegre)
			%li
				BaixoCentro
			%li
				Hackeria Ribeirão Preto (Ribeirão Preto)
			%li
				Open Government Partnership (Brasília)
			%li
				Casa Fora do Eixo Minas (Minas Gerais)
			%li
				Virada Cultural (São Paulo)
			%li
				Virada Digital Paraty (Paraty)
			%li
				Pimp My Carroça
			%li
				Rio+20 (Rio de Janeiro)
			%li
				FISL (Porto Alegre)
			%li
				Centro Cultural São Paulo
			%li
				Acessa São Paulo
			%li
				Latinoware (Foz do Iguaçú)
			%li
				Universidad Nacional (Ciudad del Este)
			%li
				Oficinas de Inclusão Digital - Porto Alegre
	.four.columns
		%h2 Programadas
		%ul 
			%li
				IACC - International AntiCounterfeiting Coalition (Brasília)
			%li
				Oficina de Inclusão Digital (Porto Alegre)
			
	.four.columns
		%h2 Em análise
		%ul
			%li
				Nenhuma invasão em análise.

		%a.button.big{:href=>"#", :target => "_blank"} Como propor uma invasão hacker?
	

.row

	.eight.columns
		%h1 Ônibus em Números
		
		%p.lead 
			Lorem ipsum dolor
		%p Texto
		%ul
			%li
				%strong
					16 invasões
			%li
				%strong
					120 oficinas
			%li
				%strong
					140 hackers
			%li
				%strong
					10K público atendido
			%li
				%strong
					464 apoiadores Catarse
			%li
				%strong
					R$ 58.593,00 arrecadado
	.four.columns

.row{'data-magellan-destination' => :contas}
	.twelve.columns
		%h1 Prestação de Contas
		%p 
			Última atualização em 
			%strong
				2 de novembro de 2012.
		
		%a.button{:href => "#", :target => "_blank"}
			Acesse a planilha de prestação de contas

.row
	.twelve.columns
		%h1 Apoiadores
		%p.lead 
			Lorem ipsum dolor
	
		%p lista de apoiadores (com foto se possível) e link para perfil
		%ul.lista_apoiadores

			%li{'data-placement' => "top", 'data-original-title' => "Pedro Belasco"}
				=image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/c26.25.325.325/s160x160/399833_3356326147481_1663090191_n.jpg"
				
			%li{'data-placement' => "top", 'data-original-title' => "Daniela Markun"}
				= image_tag "https://twimg0-a.akamaihd.net/profile_images/1149030295/dani_reasonably_small.jpg"
				
			%li{'data-placement' =>  "top", 'data-original-title' => "Lívia Ascava"}
				= image_tag "https://twimg0-a.akamaihd.net/profile_images/1427897007/_MG_1358_reasonably_small.jpg"
				
.row
	.twelve.columns
		%h1 Imprensa
		%p.lead Lorem ipsum dolor
		%blockquote
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			%small
				Someone famous 
				%cite{:title=>"Source Title"}
					Source Title
				
			%p texto para imprensa falando qual conteúdo entra aqui e contatos
			%p texto para imprensa falando qual conteúdo entra aqui e contatos
			%p texto para imprensa falando qual conteúdo entra aqui e contatos
		
.row
	.six.columns
		%h4
			Material de Divulgação

		%p 
			Baixe aqui o material de divulgação do Ônibus Hacker:
		
		%a.button{:href => "#", :target => "_blank"}
			Baixe o presskit do Ônibus Hacker
		
		%a.button{:href => "#", :target => "_blank"}
			Imagens em alta-resolução

	.six.columns
		%h4 Entre em contato</h4>
		.three.columns 
			%span
				Lívia Ascava
			%a{:href => "mailto:email@dominio.com"}>
				email@dominio.com
				(11) 999-999-999
		.three.columns 
			%span
				Pedro Belasco
			%a{:href => "mailto:email@dominio.com"}>
				email@dominio.com
				(11) 999-999-999


